BODY
{
    background-color: Grey;
    FONT-SIZE: 11pt;
    COLOR: Black;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
}


.redslider::-webkit-slider-thumb {
    visibility: hidden;
}


input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none !important;
    background-color: #129;
    opacity: 0.5;
    width: 10px;
    height: 26px;
    visibility:hidden;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
  }


.slider
{
  width: 100%;
}

.leftOfSlider
{
  position:absolute;
  float:left;
  width:5%;
  text-align:center;
  font-size : 250%;
  /*
  border:1px solid Black;
  */
}

.divSlider
{
  position:relative;
  float:right;
  width:5%;
  text-align:center;
  /*
  border:1px solid Black;
  */
  font-size : 250%;
}

.rightOfSlider{
  /*
  border:1px solid Black;
  */
  width:85%;
  margin:auto;
  font-size : 250%;

}

#chatSection
{
  position:absolute;
  float:left;
  width:35%;
  border:1px solid black;
}

.insideChat
{
  margin: 8px;
}

#insideMsg2
{
  width:95%;
  overflow: scroll;
}


#videoSection
{
  float:right;
  width:60%;
  /*
  border:1px solid Black;
  */
}

.insideVideo
{
  text-align: center;
  margin: 1%;
  /*
  border:1px solid Black;
  */
}

#videos-container
{
  width:88%;
}

.divTitle
{
  height: 40px;
}

#pieInstructions
{
  height:15px;
  float:left;
  font-size : 300%;
}

#timerDiv
{
  height:15px;
  float:right;
  font-size : 400%;
}

#centerDiv
{
  height:15px;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  font-size : 200%;
}

#centerDivText
{
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
  font-size : 150%;
  color: white;
}

.textWaiting
{
  font-size : 400%;
  text-align: center;
}

.textWaiting2
{
  font-size : 200%;
  text-align: center;
}

.textWaiting3
{
  font-size : 600%;
  text-align: center;
}

#infoPHP1
{
  font-size : 250%;
}

#infoPHP2
{
  font-size : 250%;
}

.participantTitles
{
  font-size : 200%;
}

.tickmarks1
{
  font-size : 300%;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
}

table#dose {
    width: 850px;
    height: 550px;
    border: 5px solid black;
    padding: 15px;
    border-spacing: 1px;
    text-align: center;
    vertical-align: middle;
    color: white;
    margin-left:auto;
    margin-right:auto;
    font-size : 400%;
}

td#doseGamble1 {
  background-color: darkgreen;
  color:black;
}

td#doseGamble2 {
  background-color: darkred;
  color:black;
}

td#doseSafe {
  background-color: lightgrey;
  color:black;
}

td.doseButton {
  background-color: black;
  border: white;
  color:white;
  margin: 50px 10px 10px 10px;
}
